.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background-color: var(--bg);
    pointer-events: none;

    .orb {
        position: absolute;
        border-radius: 50%;
        filter: blur(80px);
        opacity: 0.15;
        animation: float 20s infinite ease-in-out;
    }

    .orb-1 {
        width: 600px;
        height: 600px;
        background: var(--solid1);
        top: -100px;
        left: -100px;
        animation-delay: 0s;
    }

    .orb-2 {
        width: 500px;
        height: 500px;
        background: var(--text-green);
        bottom: -50px;
        right: -100px;
        animation-delay: -5s;
    }

    .orb-3 {
        width: 400px;
        height: 400px;
        background: var(--components3);
        top: 40%;
        left: 30%;
        opacity: 0.1;
        animation-delay: -10s;
    }
}

@keyframes float {
    0% {
        transform: translate(0, 0) scale(1);
    }
    33% {
        transform: translate(30px, -50px) scale(1.1);
    }
    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}
