.sousligne {
    position: relative;
    display: inline-block;
    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: $yellow;
        margin-top: 5px;
    }
}
