#info-section {
    .texte-intro p {
        font-size: 26px;
    }

    .img-about {
        border-radius: 50%;
        overflow: hidden;

        height: 450px;
    }

    .btn-bts-sio {
        margin-left: auto;
    }
}
