.projets-card {
    max-width: 30%;
    border: 1px grey solid;
    border-radius: 10px;
    overflow: hidden;

    margin: 10px 18px;

    img {
        width: 100%;
    }

    .projets-texte {
        margin: 10px;
        color: white;
    }
}
