.single {
    margin-top: 100px;

    .wrapper {
        max-width: 1024px;

        margin-left: auto;
        margin-right: auto;
    }

    .single-container {
        margin-top: 50px;

        .image-principal {
            margin-bottom: 50px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }

        h1 {
            font-size: 66px;
            text-align: center;
        }

        ul li {
            font-size: 26px;
            list-style: none;

            &::before {
                content: "- ";
            }
        }
    }
}
