.ghostlink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wysiwyg ul li {
    font-size: 16px;
}

.single .single-container ul li {
    font-size: 16px;
}

.wysiwyg span {
    font-weight: 600;
    color: #fff;
}

a.link:hover span {
    color: #ffbd39;
}