@import '@/styles/_responsive.scss';

:root {
  --bg: #050505;
  --bg-light: #0f0f0f;

  --components1: #161616;
  --components2: #1c1c1c;
  --components3: #222222;

  --border1: #333333;
  --border2: #404040;
  --border3: #505050;

  --solid1: #33B074;

  --text: #ededed;
  --text-green: #3DD68C;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 1rem;
  background-color: var(--solid1);
  color: var(--bg);
  border: 2px solid var(--solid1);

  &:hover {
      background-color: transparent;
      color: var(--solid1);
  }
}

